*{
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}

/******************** Navbar *******************/
.navbar-nav .nav-link{
    color: #fff;
}
.navbar-nav .nav-link:hover{
    background: #000 !important;
    color: rgb(118, 200, 173) !important;
}
.navbar-brand img{
    height: 50px;
}
.navbar-toggler-icon{
    background-image: url(images/menu.png) !important;
}

/********************Landing Section *******************/
.home{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/hero_2.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-attachment: fixed;
}
.home-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-center h1{
    color: white;
    font-size: 80px;
    font-weight: bold;
}
.home-center p{
    color: white;
    font-weight: 500;   
}
.home-btn .btn-shop{
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
}
.home-btn .btn-shop:hover{
    color: black;
    background: white;
}
.home-btn .btn-member{
    border: 2px solid white;
    color: black;
    background: white;
    font-size: 20px;
    padding: 5px 15px;
}
.home-btn .btn-member:hover{
    color: white;
    background: none;
}

/********************Product Section *******************/
.hoverImg{
    overflow: hidden;
}
.hoverImg img{
    transition: 0.7s;
}
.hoverImg:hover img{
    transform: scale(1.1);
}
.btnCard{
    border: 2px solid black;
    background: #000;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
}
.btnCard:hover{
    background: none;
    color: black;
    transition: 0.5s;
}
.btnView{
    border: 2px solid black;
    background: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
}
.btnView:hover{
    background: #000;
    color: white;
    transition: 0.5s;
}


/******************** Testmonial *******************/
.carousel-inner{
    text-align: center;
}
.carousel-inner .carousel-item img{
    width: 30%;
    border-radius: 50%;
}



/******************* Media Quary **********************/
@media only screen and (min-width: 200px) and (max-width: 575px) {
    .home-center h1{
        font-size: 40px;
    }
    .home-center p{
        font-size: 15px;
    }
    .home-btn{
        margin-top: 80px;
    }
    .home-btn .btn-member{
        margin-top: 10px;
    }
}

